__pycache__/
*.py[cod]
*$py.class
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
